@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --orange: #ff6100;
    --blue: #004aad;
    --green: #64c432;
    --yellow: #fffb00;
    --purple: #38136c;
}

* {
    font-family: "Kanit", sans-serif;
}

#video-banner {
    background-image: url(./assets/video.mp4);
}

.logo {
    max-width: 150px;
}


/* .gw-text-xs,
.gw-self-center.gw-h-3.gw-w-3.gw-mr-2,
.gw-flex.gw-items-center.gw-w-full.gw-justify-center {
    display: none;
} */

#primaryCTA {
    background: linear-gradient(135deg, #ff4d00, #ff9100) !important;
    width: auto !important;
    border-radius: 2rem !important;
    padding: 0.5rem 2.5rem !important;
}

#waitlist__embed {
    background-image: url(./assets/bg1.webp);
}

#getWaitlistContainer input {
    border-color: #8e8e8ead !important;
}

#getWaitlistContainer :focus-visible {
    outline: none !important;
}

.gw-flex.gw-items-center.gw-w-full.gw-justify-center {
    display: flex !important;
}

#getWaitlistInnerContainer .gw-mt-4:last-child {
    display: none !important;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .logo {
        max-width: 100px;
        width: 100%;
    }
    header {
        backdrop-filter: saturate(180%) blur(5px);
    }
    header .container {
        padding: 0.25rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .title-font {
        margin: 0rem;
    }
    #hero {
        height: 80vh !important;
    }
    #waitlist {
        padding: 0.5rem 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #waitlist .title-font {
        font-size: 36px;
        line-height: 1.2;
    }
    #waitlist:first-child {
        margin-bottom: 1rem !important;
    }
    #video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
    }
    #video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    .img-section {
        display: none;
    }
    #waitlist {
        top: 50%;
        flex-direction: column-reverse;
    }
    #waitlist__embed .container {
        padding: 0rem !important;
    }
    #waitlist__embed .container #waitlist__card {
        width: 90% !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
    #waitlist__embed .container #waitlist__card .gw-text-2xl {
        font-size: 1.5rem !important;
        margin-bottom: 0.75rem !important;
    }
    #getWaitlistContainer input,
    #getWaitlistContainer textarea {
        width: 100% !important;
    }
    .gw-flex.gw-flex-row.gw-justify-center.gw-w-full.gw-mt-2 {
        flex-direction: column !important;
    }
    .gw-flex.gw-flex-row.gw-justify-center.gw-w-full.gw-mt-2 .gw-w-full.gw-pr-2,
    .gw-flex.gw-flex-row.gw-justify-center.gw-w-full.gw-mt-2 .gw-w-full.gw-pl-2 {
        padding: 0rem !important;
        margin: 5px 0px !important;
    }
    #title__section {
        margin-bottom: 1.5rem !important;
    }
    #feature_section,
    #feature_section #feature__cards {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
    .feature_card {
        margin: 0px 10px !important;
        width: 100% !important;
        max-width: 450px !important;
    }
    #stats {
        max-width: 340px;
    }
    #stats__bg {
        padding: 2rem !important;
        margin: 0rem !important;
    }
    #stat_card {
        margin: 0rem !important;
        width: 100% !important;
    }
    #cta .container {
        padding: 1.5rem !important;
    }
    #cta__container {
        padding: 2rem 2.5rem !important;
    }
    #cta h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #cta #text,
    #cta .Typewriter {
        font-size: 2rem !important;
    }
    #cta .Typewriter {
        color: #121212;
    }
    #cta #lists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 320px;
    }
    #btn-cta {
        margin: 0.25rem 0rem !important;
    }
}

@media screen and (min-width: 768px) {
    #waitlist {
        flex-direction: column-reverse !important;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #hero {
        height: 100vh !important;
    }
    #waitlist #first-child,
    #waitlist #second-child {
        align-items: center;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #waitlist .title-font {
        font-size: 48px;
        line-height: 1.2;
    }
    #video {
        height: 90vh;
    }
    #cta #lists {
        max-width: 320px;
        flex-direction: column;
    }
    .feature_card {
        margin: 5px 0rem !important;
        width: 100% !important;
        min-width: 520px !important;
    }
    #stats {
        max-width: 700px !important;
    }
    #cta__container {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
}

@media screen and (min-width: 1100px) {
    header .container {
        padding: 0.25rem 4rem;
    }
    header .logo {
        max-width: 160px;
    }
    #waitlist {
        padding: 1rem 4rem;
        flex-direction: row !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #hero {
        padding: 1rem 10rem !important;
    }
    .feature_card {
        width: 360px !important;
        min-width: 360px !important;
    }
    .feature_card:first-child,
    .feature_card:nth-child(3) {
        margin-left: 2rem !important;
    }
    .feature_card:nth-child(2) {
        margin-right: 2rem !important;
    }
    .feature_card_two:first-child,
    .feature_card_two:nth-child(3) {
        margin-right: -2rem !important;
    }
    .feature_card_two:nth-child(2) {
        margin-left: 2rem !important;
    }
    #waitlist #first-child,
    #waitlist #second-child {
        align-items: flex-start;
        text-align: left !important;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #waitlist #second-child {
        flex-direction: column;
        align-items: center;
    }
    #video {
        height: 100vh;
    }
    .title-font {
        font-size: 2.75rem !important;
        line-height: 1.2;
    }
    .title-font #small-texts {
        font-size: 1.8rem !important;
    }
    /* Feature Card */
    /* .feature_card img {
        border: 4px solid transparent;
        transition: border 0.2s ease-out;
    }
    .feature_card:hover img {
        border: 4px solid var(--orange);
    } */
    #feature-section {
        background-image: url(assets/bg1.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #cta h1 {
        font-size: 4rem !important;
    }
    .Typewriter {
        font-size: 4rem !important;
        color: #121212 !important;
    }
    #stats {
        font-size: 3.2rem !important;
        margin-bottom: 1rem;
        max-width: 90% !important;
        width: 100% !important;
    }
    #cta #lists {
        max-width: 90% !important;
        flex-direction: row;
    }
    #getWaitlistContainer .gw-px-4.gw-py-5.gw-rounded-md.gw-border.gw-overflow-hidden {
        max-width: 100% !important;
        width: 100% !important;
    }
    #getWaitlistInnerContainer {
        max-width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        width: 100% !important;
    }
}